<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <!---
        {% if age > 10 %}
        <h1>send_data from Backend</h1>
        Name sent from Backend is <h1 style="color: blue;">{{name}}</h1>
        <h1 style="color: aqua;">Age is {{age}}</h1>
        {% endif %}
        -->
        {{ age }}
        <h1>Send data from the Backend</h1>
        Name sent from Backend is <h1 style="color: blue;">{{name}}</h1>
    </center>
</body>
</html>